header{
    width: 1000px;
}
.main-manu{
    width: 100%;
}
.main-manu ul{
    list-style-type: none;
    margin: 0;
    padding: 0 auto;
    width: 1000px;
}
.main-manu li{
    display: block;
    float: left;        
    min-height: 20px;
    font-family: Arial;
    font-size: 18px;
    background-color: #4FC6AF;
    position: relative;
}
.main-manu a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
}
.main-manu li a:hover{
    background-color: #49B6A1;
    border-bottom: 1px solid #000000;
    color: #4A4A4A;
}